<div class="grid-container">
  <div class="grid-row">
    <div class="column-4">
      <img class="display-inline-block margin-right-5" src="/img/general/flagstone__mid-logo--footer.png" alt="Flagstone logo">
      <a class="social-icon" href="https://vimeo.com/user52637861"><i class="ion-social-vimeo"></i></a>
      <a class="social-icon" href="https://twitter.com/Vidall_Themes"><i class="ion-social-twitter"></i></a>
      <a class="link copyright" href="http://vidall.co.uk">&copy; Vidal Themes all rights reserved.</a>
    </div>
    <div class="column-3">
      <h5 class="text-color-11">About Flagstone...</h5>
      <p>
        Flagstone has been created from the ground up, to give your startup business rapid entry to an online presence, with easy to use block based modular design, you will have a stunning, professional website in no time.
      </p>
    </div>
    <div class="column-5">
      <h5 class="text-color-11">Log In</h5>

      <div class="mailchimp-signup">
        <form action="/login" method="post">
          <input type="text" value="" name="email" class="mailchimp-signup__input mailchimp-signup__input-light" placeholder="Email address" required>

          <br /><br />

          <input type="password" value="" name="password" class="mailchimp-signup__input mailchimp-signup__input-light" placeholder="Password" required>

          <br /><br />

          <input type="submit" value="Log In">

        </form>
      </div>
    </div>
  </div>
</div>
