<a href="#" class="back-to-top--floating"><i class="ion-ios-arrow-up"></i></a>

<!-- End of section -->
<script src="https://maps.google.com/maps/api/js"></script>
<script src="/js/min/main-min.js"></script>
<script src="/js/min/scripts-min.js"></script>
