<div class="page-pre-loader">
  <div class="page-pre-loader__container">
    <div class="page-pre-loader__effect"></div>
  </div>
</div>

<!-- End of page pre-loader -->

<header class="primary-header primary-header--fixed-nav">
  <div class="grid-container">
    <div class="grid-row">
      <div class="column-12">
        <div class="primary-header__logo float-left">
          <a href="/">
            <img src="/img/general/flagstone__light-logo.png" class="primary-header__logo-image" alt="Flagstone logo">
          </a>
        </div>
        <button class="mobile-nav-toggle float-right">
  <span></span>
</button>
  <nav class="float-right desktop-nav">
    <ul class="nav float-right">
      <li class="nav-item">
        <a href="/">Home</a>
      </li>
      <li class="nav-item">
        <a href="/submitpuppy">Submit Your Pupp</a>
      </li>
      {{{menu.account}}}
    </ul>
  </nav>

<!-- End of section -->
        <span class="border-bottom"></span>
      </div>
    </div>
  </div>
</header>

<!-- End of site main header -->
