<!doctype html>
<html class="no-js" lang="en">
	<head>
    {{>head}}
	</head>
<body class="flagstone-4col-portfolio">


<!-- End of page pre-loader -->

<header class="primary-header primary-header--fixed-nav">
  {{>nav}}
</header>

<!-- End of site main header -->

<section class="background-color-4 sub-header sub-header-banner-1">
	<div class="grid-container">
		<div class="grid-row">
			<div class="column-12 animated-parent">
				<h2 class="text-color-10 animated animate__fade-in-left-short">Cutest puppies around the world</h2>
				<h2 style="color:white"></h2>
			</div>
		</div>
	</div>
</section>

<!-- End of section -->

<section class="margin-bottom-100">
	<div class="grid-container">
		<div class="grid-row">
			<div class="isotope-items">


        {{#puppies}}
				<div class="isotope-item isotope-width-3 padding-15 web print ill">
					<div class="overlay">
						<div class="overlay__background"></div>
							<div class="overlay__content text-center text-color-2">
								<span class="overlay__content-heading text-uppercase"> <a href="/puppy?id={{ _id }}" style="text-decoration:none">{{name}}</a></span>
								<span class="overlay__content-text">
									<a class="link" href="/puppy/{{ name }}">{{ location }}</a>
								</span>
							</div>
						<img src="{{image}}" alt="Portfolio image" class="overlay__image overlay__image--skew">
					</div>
				</div>
      {{/puppies}}

			</div>
		</div>
	</div>
</section>

<!-- End of section -->

<footer class="background-color-2 padding-top-80 padding-bottom-80">
  {{>footer}}
</footer>

{{>javascript}}

</body>
</html>
