/* ========================================
03. Backgrounds
======================================== */

.parallax--banner-1 {
	background-image: url(../img/architect/architect__parallax.jpg);
}

.sub-header {
	&-banner-1 {
		background: url(../img/subpages/sub-header__banner-1.jpg);
	}
	&-banner-2 {
		background: url(../img/subpages/sub-header__banner-2.jpg);
	}
}
