
/* ========================================
03. Backgrounds
======================================== */

.hero-unit--banner-1 {
	background-image: url(../img/coffee-shop/coffee-shop__hero-image.jpg);
}

.sub-header {
	&-banner-1 {
		background: url(../img/subpages/sub-header__banner-1.jpg);
	}
	&-banner-2 {
		background: url(../img/subpages/sub-header__banner-2.jpg);
	}
}
