
/* ========================================
01. Text
======================================== */
html {
	font-size: $text-base-font-size;
}

body {
	color: $body-text-color;
	font-family: $text-font;
	line-height: $line-height;

	-webkit-font-smoothing: antialiased;
}

@include breakpoint(medium){
	html{font-size: $text-base-font-size - 1px;}
}

@include breakpoint(small){
	html{font-size: $text-base-font-size - 2px;}
}

$heading: $text-base-heading-size;
@each $h in h1, h2, h3, h4, h5, h6{
	$heading: $heading - 0.4rem;
	#{$h} {
		font-size: $heading;
	}
}

$heading-size: $text-base-heading-size;
@each $h in h1, h2, h3, h4, h5, h6{
	$heading-size: $heading-size - 0.4;
	.font-size-#{$h} {
		font-size: $heading-size;
	}
}

h1,h2,h3,h4,h5,h6 {
	margin: 0 0 $text-margin-bottom 0;
	color: $heading-text-color;
	font-weight: $heading-weight;
	font-family: $heading-font;
	line-height: 1;

	text-rendering: optimizeLegibility;
}

p {
	margin: 0 0 $text-margin-bottom 0;
}

.link {
	color: $link-color;
	text-decoration: none;
	@include transition(350ms, color);
	&:hover {
		color: $link-color-hover;
	}
}

.special-font {
	font-size: inherit;
	font-family: $heading-font-special;
}

.list {
	margin-left: 0;
	padding: 0;
	list-style-type: none;
	&--bulleted {
		margin-left: 17px;
		list-style-type: disc;
	}
	&--numbered {
		margin-left: 17px;
		list-style-type: decimal;
	}
	&__item {
		&--inline {
			display: inline;
		}
		&--inline-block {
			display: inline-block;
		}
	}
}

.blockquote {
	position: relative;
	font-style: italic;
	font-size: 120%;
	&:before {
		position: absolute;
		left: -40px;
		height: 100%;
		border-left: 4px solid $color-4;
		content: "";
	}
	&-source {
		font-weight: 700;
	}
}

.table {
	width: 100%;
	border-collapse: collapse;
	& td, & th {
		padding: 10px;
		border: 1px solid $color-4;
	}
}

.underline {
	padding-bottom: 1.5rem;
	width: 100%;
	border-bottom: 1px solid $color-2;
}

.text-decor {
	display: inline-block;
	margin-right: 4px;
	width: 1rem;
	height: 1rem;
	background-color: $color-3;
}
